# App
NODE_ENV=development
PORT=3000

# Database
# Add pool params for production: ?connection_limit=10&pool_timeout=20
DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/DATABASE

#  JWT
# Minimum 32 characters
ACCESS_SECRET_KEY=your_access_secret_key_minimum_32_characters
REFRESH_SECRET_KEY=your_refresh_secret_key_minimum_32_characters

# Access: between 15m and 1h
ACCESS_TOKEN_EXPIRES_IN=15m

# Refresh: between 1d and 30d
REFRESH_TOKEN_EXPIRES_IN=7d

# Admin Seed
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@1234

# Logging
PINO_LOG_LEVEL=info

# Required in production only
BETTER_STACK_TOKEN=your_logtail_source_token

# CORS
# Comma-separated list of allowed origins (production only)
ALLOWED_ORIGINS=https://yourdomain.com,https://www.yourdomain.com